body {
  font-family: 'Roboto', sans-serif;
  color: #434455
  background-color: #FFFFFF;
}
.web {
  color: #4D5AE5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.studio {
  color: #2e2f42;
}
.webstudio {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #2E2F42;
}
  
  .webstudio:hover, 
  .webstudio:focus {
  color: #404bbf;
  } 
  .address {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; 
  letter-spacing: 0.02em;
  color: #434455;
  }  
  .address:hover,
  .address:focus {
  color: #404bbf;
  }
  .first-section {
  background-color: #2E2F42;
}
.first-title {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07; 
  letter-spacing: 0.02em;
  text-align: center;
  color: #FFF;
}
.first-section-button {
  background: #4D5AE5;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; 
  letter-spacing: 0.04em;
  cursor: pointer;
}
.first-section-button:hover,
.first-section-button:focus {
  color: #404BBF;
}
.second-section-title {
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
color: #2E2F42;
  }
.second-section-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; 
  letter-spacing: 0.02em;
  color: #434455;
}

.foot-studio {
  color: #F4F4FD;
}