body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
}
.item {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  color: #2e2f42;
}
.addr {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  color: #434455;
}
.title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
}

.dark {
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  background: #2e2f42;
}
.but {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
